[push]
	default = simple
    autosetupRemote = true
[user]
	name = Mario Zupan
	email = mario@zupzup.org 
	signingkey = A6BD139FFB8978B3
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = auto
[core]
	editor = nvim
[merge]
    tool = meld
[difftool]
	prompt = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    cl = clone
    diff = diff --word-diff
    lg = log -p
    lf = log --name-status
    le = log --oneline --decorate
    ls = ls-files
[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
